<div class="sessions-login">
    <form>
        <%= image_tag "bestlife.png", width: "200", height: "120", style: "margin-bottom: 20px;" %>

        <h1>ログイン</h1>
        <input type="email" placeholder="Email" />
        <input type="password" placeholder="Password" />
        <button>Login</button>
        <div class="links">
            <a href="#">パスワードをお忘れですか？</a>
            <a href="#">新規登録</a>
        </div>
    </form>
</div>

