<div class="users-calendar">
    <div class="row mt-2" style="height: auto;">
        <div class="col-6 col-custom">
            <div class="container-calendar">
                <div class="button-container-calendar">
                    <button id="previous" onclick="previous()">←</button>
                    <h3 id="monthAndYear"></h3>
                    <button id="next" onclick="next()">→</button>
                </div>
                <table class="table-calendar" id="calendar">
                    <thead id="thead-month"></thead>
                    <tbody id="calendar-body"></tbody>
                </table>
                <div class="footer-container-calendar">
                    <label for="month">日付指定：</label>
                    <select id="month" onchange="jump()">
                        <option value="0">1月</option>
                        <option value="1">2月</option>
                        <option value="2">3月</option>
                        <option value="3">4月</option>
                        <option value="4">5月</option>
                        <option value="5">6月</option>
                        <option value="6">7月</option>
                        <option value="7">8月</option>
                        <option value="8">9月</option>
                        <option value="9">10月</option>
                        <option value="10">11月</option>
                        <option value="11">12月</option>
                    </select>
                    <select id="year" onchange="jump()"></select>
                </div>
            </div>
        </div>
        <div class="image-upload-container col-6 col-custom d-flex flex-column justify-content-center align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="200" height="70" fill="currentColor" class="mb-sm-1 bi bi-person-square" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm12 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1v-1c0-1-1-4-6-4s-6 3-6 4v1a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12z"/>
            </svg>
            <div class="mt-5">
                <input type="file" id="imageUpload" style="display: none;">
                <button onclick="document.getElementById('imageUpload').click();">画像をアップロードする</button>
            </div>
        </div>
    </div>
</div>
<%= javascript_pack_tag 'users_calendar_page' %>

