<div class="users-form">
    <div class="centered-container">
        <form action="your-server-endpoint" method="post">
            <span id="closeButton">×</span>
            <h1 id="currentDate"></h1>
            <div class="input-group">
                <label for="bodyFatPercentage">体脂肪率(%):</label>
                <input type="number" id="bodyFatPercentage" name="bodyFatPercentage" step="0.1" placeholder="体脂肪率を入力">
            </div>
            <div class="input-group">
                <label for="weight">体重(kg):</label>
                <input type="number" id="weight" name="weight" step="0.1" placeholder="体重を入力">
            </div>
            <div class="input-group">
                <label for="muscleMass">筋肉量(kg):</label>
                <input type="number" id="muscleMass" name="muscleMass" step="0.1" placeholder="筋肉量を入力">
            </div>
            <div>
                <input type="submit" value="記録する">
            </div>
        </form>
    </div>
</div>
<%= javascript_pack_tag 'users_form_page' %>
