 <style>


* {
  border:none;
}

form {
  margin:70px auto;
  width:347px;
  text-align:center;
  padding:40px;
}

input {
  background:rgba(0, 0, 0, 0.2);
  display:block;
  width:269px;
  padding:15px;
  margin-bottom:10px;
  outline:none;
}

button {
  position:relative;
  display:block;
  margin-top:15px;
  margin-bottom:15px;
  padding:17px;
  width:270px;
}

</style> 

<form>
  <%= image_tag "bestlife.png", width: "200", height: "120", style: "margin-bottom: 20px;" %>

  <h1>ログイン</h1>
  <input type="email" placeholder="Email"/>
  <input type="password" placeholder="Password"/>
  <button>Login</button>
  <div class="links">
    <a href="#">パスワードをお忘れですか？</a>
    <a href="#">新規登録</a>
  </div>
</form>
