<div class="container mt-2 border border-dark">
 <div class="row mt-2 border border-dark d-flex align-items-center justify-content-center" style="height: 100px;"> 
  ひづけ
  </div>
  <div class="row mt-2 border border-dark d-flex align-items-center justify-content-center" style="height: 100px;"> 
  今日もやりましょう
  </div>
  <div class="row mt-2 border border-dark" style="height: 800px;">
    <div class="col-4 border border-dark">
    </div>
    <div class="col-4 border border-dark">
    </div>
    <div class="col-4 border border-dark">
    </div>
  </div>
  <%# <div class="row mt-2 border border-dark d-flex align-items-center justify-content-center" style="height: 800px;"> 
  はげ
  </div> %>
</div>
