// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.users-show {
  p {
    margin-top: 0;
    margin-bottom: 0rem; /* こちらを変更 */
}

.btn-rounded {
    border-radius: 25px !important; /* この数値を調整して、望む丸みの大きさに合わせます */
}
@media (min-width: 992px){
.col-lg-4 {
    flex: 0 0 auto;
    width: 32.5%;
}
}
.balloon-container {          
    align-items: center; /* これがキーとなるスタイルです。 */
    flex-direction: row;     
    position: relative;
}

.balloon-img {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50px;
    left: 5px;
   
}
@media (max-width: 500px) {
    .balloon-img {
        width: 100px; /* 修正した部分 */
        background-color: #2e2e2e;
    }
}

    .balloon {
        position: absolute;
        top: calc(87% + 10px); /* 画像の下の位置に配置します。10pxは画像とテキストの間のスペースとして追加しています。必要に応じて調整してください。 */
        left: 0; /* 左端に揃えます。必要に応じて調整してください。 */
        background-color: #f5f5f5;
        border-radius: 5px;
        /* ... その他のスタイルはそのまま ... */
    }

@media (max-width: 576px) {
    .balloon {
        /* 必要に応じてフォントサイズを小さく調整する */
        padding: 5px;  /* スマートフォンの画面サイズでのパディングの調整 */
        margin-top: 5px;  /* スマートフォンの画面サイズでのマージンの調整 */
    }
}




.balloon::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -18px;             
    width: 100;
    height: 0;
    border: 8px solid transparent;
    border-right-color: #f5f5f5;
    transform: translateY(-50%);
}
};

.circle-format {
  border-radius: 50%;  /* これにより、要素が円形になります */
  background-color: #f5f5f5;  /* 背景色を設定。お好みで変更してください */
  padding: 20px;  /* 円の大きさを調整 */
  width: 80px;    /* この値も調整して、円のサイズを変更できます */
  height: 80px;   /* この値も調整して、円のサイズを変更できます */
  display: flex;
  justify-content: center;
  align-items: center;
}